<header class="jumbotron jumbo">
  <div class="grid grid-container--lg">
    <div class="column--12">
      <h1>About Analytics Page</h1>
    </div>
  </div>
</header>
<section>
  <header class="jumbotron jumbotron">
    <div class="grid grid-container--lg">
      <div class="column--12">
        <h2>NTT about analytics</h2>
        <p class="wide">The NTT analytics comparison site.</p>
      </div>
    </div>
  </header>
  <div class="content-area">
    <div class="grid-container--lg">
      <div class="grid--md gutter--xl">
        <div class="column--6">
          <h4 class="main-heading">Google analytics</h4>
          <p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic,
            currently as a platform inside the Google Marketing Platform brand.
            Google launched the service in November 2005 after acquiring Urchin</p>
          <p>Google analytics is already currently being used in Manage Center, as well as some of the other service portals that have been implemented by the team,
            such as DVS.
          </p>
        </div>
        <div class="column--6">
          <h4 class="main-heading">Microsoft Application Insights</h4>
          <p>Application Insights, a feature of Azure Monitor, is an extensible Application Performance Management (APM) service for developers and DevOps professionals.
            Use it to monitor your live applications. It will automatically detect performance anomalies,
            and includes powerful analytics tools to help you diagnose issues and to understand what users actually do with your app. It's designed to help you continuously improve performance and usability.
            It works for apps on a wide variety of platforms including .NET, Node.js, Java, and Python hosted on-premises, hybrid, or any public cloud.
            It integrates with your DevOps process, and has connection points to a variety of development tools.
            It can monitor and analyze telemetry from mobile apps by integrating with Visual Studio App Center.</p>
        </div>
      </div>
    </div>
  </div>
</section>
